.build
.vs
out
CMakeSettings.json
.polysope
armadillo.obj
.tar.gz
.py
.csv
h5View.obj
/LBSerrorsVal.csv
/PODerrorsVal.csv
/SPLOCSerrorsVal.csv
/eigen-3.2.10.tar.gz
/LICENSE.md
/results
/bases
/L2_errorMeasurs.py
/temp.1.edge
/temp.1.ele
/temp.1.node
/temp.1.face
/temp.poly
